name: Renovate Self-Hosted

on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/renovate.yml"
      - "org-inherited-config.json"
  schedule:
    # Every 30 minutes
    - cron: "*/30 * * * *"
  workflow_dispatch:
    inputs:
      log-level:
        description: "Set the Renovate log level (default: info)"
        required: false
        default: info
        type: choice
        options:
          - info
          - debug

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Get Token
        id: get-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        with:
          app-id: ${{ secrets.RENOVATE_APP_ID }}
          private-key: ${{ secrets.RENOVATE_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 1
          token: ${{ steps.get-token.outputs.token }}
          persist-credentials: false

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@8b7941943a108b2cc2150730963164aa8baeab8c # v44.2.2
        env:
          RENOVATE_DRY_RUN: ${{ github.event_name == 'pull_request' && 'full' }}
          LOG_LEVEL: ${{ github.event.inputs.log-level || 'info' }}
          RENOVATE_PLATFORM_COMMIT: 'true'
        with:
          token: ${{ steps.get-token.outputs.token }}
          configurationFile: ./renovate-config.json
